{% extends "djbootmin/base.html" %}
{% load livewhale_api %}
{% load static %}
{% block extra_style %}
<style>
body, .content-wrapper, .card {background-color: #0d3d56;color: #fff;}
footer.sticky-footer {background-color:inherit;width:100%;}
.modal {color:black;}
a {color: cyan;}
a:hover {color: #cacaca;}
.content-wrapper { margin-left:0; }
.btn-primary {
  color: #fff;
  background-color: #007bff !important;
  border-color: #007bff !important;
}
.btn-primary:hover{color:#fff;background-color:#0069d9 !important;border-color:#0062cc !important}
#lossSmell {font-weight:700;color:#000;background-color:#c5b32f;}
#lossSmell a {color:#007bff;}
#lossSmell a:hover {color:cyan;}
</style>
{% endblock %}
{% block extra_javascript %}
<script type="text/javascript" charset="utf-8">
  var $clearCacheUrl = "{% url 'clear_cache' 'blurbs' %}";
  $(function() {
    $("[name=studyOpt]").click(function(){
      $('.smellTestOpt').hide();
      $("#studyOpt" + $(this).val()).show('slow');
    });
  });
</script>
<script src="{% static 'js/research.js' %}?0420"
  type="text/javascript" language="javascript"></script>
{% endblock %}
{% block navbar-collapse %}{% endblock %}
{% block navbar-header %}
<a href="{% url 'home' %}" class="mr-sm-3 mr-lg-3">
<img src="{% static 'img/clogo.png' %}" height="30" class="mr-2">
<a class="navbar-brand" href="{{root_url}}" style="font-size:.9em;background-color:transparent !important;">#StaySafeCarthage Smell Study</a>
{% endblock %}
{% block breadcrumb %}
  {% if messages %}
    {% for message in messages %}
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ml-2">
      <div class=" alert {{message.tags}}">
        <strong>{{ message }}</strong>
      </div>
    </div>
    {% endfor %}
  {% endif %}
{% endblock %}
{% block content %}
<div class="forms-container col-lg-8 col-md-8 col-sm-12 col-xs-12 mb-4" style="padding-right:0px !important;">
  {% get_lw_content as help blurbs 3009 %}
  <div class="card">
    <div id="lw_success_3009">{{help.body|safe}}</div>
    {% if user.is_superuser %}
    <p>
      <a href="https://www.carthage.edu/livewhale/?blurbs_edit&tid=285&id=3009"
        target="_blank">
        <i class="fa fa-pencil green" aria-hidden="true"
        title="Manage the content above in LiveWhale"></i></a>
      <a href="#" data-cid="3009" data-target="lw_success_3009" class="clear-cache">
        <i class="fa fa-refresh green" aria-hidden="true"
        title="Clear the cache for this content"></i></a>
    </p>
    {% endif %}
  </div>
  <!-- begin form -->
  {% if form.errors %}
  <div class="error">
    {% for error in form.non_field_errors %}
    {{error}}
    {% endfor %}
  </div>
  {% endif %}

  <form method="post" action="." autocomplete="false" class="form"
    role="form" id="smell-test">
    {% csrf_token %}
    <div class="form-group">
      <input type="radio" name="studyOpt" id="studyOptIn" value="Yes">
      <label class="form-check-label" for="studyOptIn">I agree to participate in the study</label>
    </div>
    <div class="smellTestOpt" id="studyOptYes" style="display:none;">
      <p>Click <a href="https://forms.gle/hu7VuHiCZJgBVP4R8" target="_blank">HERE [link to smell test form]</a> to begin the study.</p>
      <div class="form-group">
        <label>Participant ID:</label>
        <input type="text" name="customID" value="" readonly="readonly" />
      </div>
    </div>
    <div class="form-group">
      <input type="radio" name="studyOpt" id="studyOptOut" value="No">
      <label class="form-check-label" for="studyOptOut">I prefer to opt out of the study</label>
    </div>
    <div class="smellTestOpt" id="studyOptNo" style="display:none;">
      <p>If you choose to opt out of the study, please complete the Sensonics 8-Item Smell Test, as directed on the card.</p>
      <div class="form-group">
        <p>Please select which of the 8-items you answered correctly on the odor identification test:</p>
        <div class="form-group form-check-inline">
          <input type="checkbox" name="smellCorrect" id="inlineCheckbox1" value="1" />
          <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div>
        <div class="form-group form-check-inline">
          <input type="checkbox" name="smellCorrect" id="inlineCheckbox2" value="2" />
          <label class="form-check-label" for="inlineCheckbox2">2</label>
        </div>
        <div class="form-group form-check-inline">
          <input type="checkbox" name="smellCorrect" id="inlineCheckbox3" value="3" />
          <label class="form-check-label" for="inlineCheckbox3">3</label>
        </div>
        <div class="form-group form-check-inline">
        <input type="checkbox" name="smellCorrect" id="inlineCheckbox4" value="4" />
        <label class="form-check-label" for="inlineCheckbox4">4</label>
        </div>
        <div class="form-group form-check-inline">
        <input type="checkbox" name="smellCorrect" id="inlineCheckbox5" value="5" />
        <label class="form-check-label" for="inlineCheckbox5">5</label>
        </div>
        <div class="form-group form-check-inline">
        <input type="checkbox" name="smellCorrect" id="inlineCheckbox6" value="6" />
        <label class="form-check-label" for="inlineCheckbox6">6</label>
        </div>
        <div class="form-group form-check-inline">
        <input type="checkbox" name="smellCorrect" id="inlineCheckbox7" value="7" />
        <label class="form-check-label" for="inlineCheckbox7">7</label>
        </div>
        <div class="form-check form-check-inline">
        <input type="checkbox" name="smellCorrect" id="inlineCheckbox8" value="8" />
        <label class="form-check-label" for="inlineCheckbox8">8</label>
        </div>
        <p class="p-2" id="lossSmell">Having scored five or fewer, you are strongly encouraged to click the "New smell or taste loss" symptom on the
          <a href="https://clear.carthage.edu/" target="_blank">daily health-check app</a>.
        </p>
      </div>
      <!-- /.form-group -->
      <p>
        Please keep the Sensonics Smell Test in a safe place to re-use
        in case you believe you are experiencing smell (or taste) loss.
        The Smell Test result could be used as validation that you are
        eligible for a Covid-19 test.
      </p>
    </div>
    <!-- /.smellTestOpt* -->
    <input class="btn btn-primary btn-block" type="submit" value="Submit">
  </form>

  <!-- end form -->
  {% get_lw_content as links blurbs 3010 %}
  <div class="card">
    <div id="lw_success_3010">{{links.body|safe}}</div>
    {% if user.is_superuser %}
    <p>
      <a href="https://www.carthage.edu/livewhale/?blurbs_edit&tid=285&id=3010"
        target="_blank">
        <i class="fa fa-pencil green" aria-hidden="true"
        title="Manage the content above in LiveWhale"></i></a>
      <a href="#" data-cid="3010" data-target="lw_success_3010" class="clear-cache">
        <i class="fa fa-refresh green" aria-hidden="true"
        title="Clear the cache for this content"></i></a>
    </p>
    {% endif %}
  </div>
  <p>&nbsp;</p>
</div>
<!-- /.forms-container /.col-* -->
{% endblock content %}
{% block modal %}
<div class="modal fade" id="fullConsent" tabindex="-1" role="dialog"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Covid-19 Odor Identification Study Consent</h5>
          <button type="button" class="close" data-dismiss="modal"
            aria-label="Close" aria-hidden="true">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <div class="modal-body">
        Full details of consent form for enrollment and participation in study examining the effects of Covid-19 on odor identification.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">I accept the terms and conditions</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
