{% extends "djbootmin/base.html" %}
{% load livewhale_api %}
{% load static %}
{% block extra_style %}
<style>
body, .content-wrapper, .card {background-color: #0d3d56;color: #fff;}
footer.sticky-footer {background-color:inherit;width:100%;}
.modal {color:black;}
a {color: cyan;}
a:hover {color: #cacaca;}
.content-wrapper { margin-left:0; }
.container-fluid { padding-left:0;}
.btn-primary {
  color: #fff;
  background-color: #007bff !important;
  border-color: #007bff !important;
}
.btn-primary:hover{color:#fff;background-color:#0069d9 !important;border-color:#0062cc !important}
.form-check-label {padding-left: .10rem; margin-bottom: .5rem;}
.form-check-inline {margin-right: .50rem;}
#lossSmell {font-weight:700;color:#000;background-color: #fcf8e3; border-color:#faebcc;}
#lossSmell a {color:#007bff;}
#lossSmell a:hover {color:cyan;}
</style>
{% endblock %}
{% block extra_javascript %}
<script type="text/javascript" charset="utf-8">
  var $clearCacheUrl = '{% url "clear_cache" "blurbs" %}';
  $(function() {
    {% if profile.opt_in == 'Yes' %}
    $("#studyOptYes").show('slow');
    {% endif %}
    $("[name=opt_in]").click(function(){
      var $dis = $(this);
      $('.smellTestOpt').hide();
      $("#studyOpt" + $(this).val()).show('slow');
      $.ajax({
        url: '{% url "opt_in" %}',
        type: 'post',
        cache: false,
        data: {'pid': {{profile.id}}, 'opt_in': $dis.val()}
      });
    });
  });
</script>
<script src="{% static 'js/research.js' %}?0420"
  type="text/javascript" language="javascript"></script>
{% endblock %}
{% block navbar-collapse %}{% endblock %}
{% block navbar-header %}
<a href="{% url 'home' %}" class="mr-sm-3 mr-lg-3">
<img src="{% static 'img/clogo.png' %}" height="30" class="mr-2">
<a class="navbar-brand" href="{{root_url}}" style="font-size:.9em;background-color:transparent !important;">#StaySafeCarthage Smell Study</a>
{% endblock %}
{% block breadcrumb %}
{% endblock %}
{% block content %}
<div class="forms-container col-lg-8 col-md-8 col-sm-12 col-xs-12 mb-4" style="padding-right:0px !important;">
  {% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  {% endif %}
  {% get_lw_content as help blurbs 3009 %}
  <div class="card">
    <div id="lw_success_3009">{{help.body|safe}}</div>
    {% if user.is_superuser %}
    <p>
      <a href="https://www.carthage.edu/livewhale/?blurbs_edit&tid=285&id=3009"
        target="_blank">
        <i class="fa fa-pencil green" aria-hidden="true"
        title="Manage the content above in LiveWhale"></i></a>
      <a href="#" data-cid="3009" data-target="lw_success_3009" class="clear-cache">
        <i class="fa fa-refresh green" aria-hidden="true"
        title="Clear the cache for this content"></i></a>
    </p>
    {% endif %}
  </div>
  <!-- begin form -->
  {% if form.errors %}
  <div class="error">
    {% for error in form.non_field_errors %}
    {{error}}
    {% endfor %}
  </div>
  {% endif %}
  <form method="post" action="." autocomplete="false" class="form"
    role="form" id="smell-test">
    {% csrf_token %}
    <div class="form-group">
      <input type="radio" name="opt_in" id="studyOptIn" value="Yes"{% if profile.opt_in == 'Yes' %} checked{% endif %}>
      <label class="form-check-label" for="studyOptIn">
        I agree to participate in the study and have read the consent statement.
      </label>
    </div>
    <div class="smellTestOpt" id="studyOptYes" style="display:none;">
        <p>Click <a href="{% url "research_home" %}?uuid={{uuid}}">HERE</a> to begin the study</p>
    </div>
    <!-- /.smellTestOpt* -->
  </form>
  <!-- end form -->
  {% get_lw_content as links blurbs 3010 %}
  <div class="card mt-4">
    <div id="lw_success_3010">{{links.body|safe}}</div>
    {% if user.is_superuser %}
    <p>
      <a href="https://www.carthage.edu/livewhale/?blurbs_edit&tid=285&id=3010"
        target="_blank">
        <i class="fa fa-pencil green" aria-hidden="true"
        title="Manage the content above in LiveWhale"></i></a>
      <a href="#" data-cid="3010" data-target="lw_success_3010" class="clear-cache">
        <i class="fa fa-refresh green" aria-hidden="true"
        title="Clear the cache for this content"></i></a>
    </p>
    {% endif %}
  </div>
  <p>&nbsp;</p>
</div>
<!-- /.forms-container /.col-* -->
{% endblock content %}
{% block modal %}
{% get_lw_content as consent blurbs 3013 %}
<div class="modal fade" id="fullConsent" tabindex="-1" role="dialog"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Covid-19 and Sense of Smell Study</h5>
          <button type="button" class="close" data-dismiss="modal"
            aria-label="Close" aria-hidden="true">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <div class="modal-body">
        <div id="lw_success_3013">{{consent.body|safe}}</div>
        {% if user.is_superuser %}
        <p>
          <a href="https://www.carthage.edu/livewhale/?blurbs_edit&tid=285&id=3013"
            target="_blank">
            <i class="fa fa-pencil green" aria-hidden="true"
            title="Manage the content above in LiveWhale"></i></a>
          <a href="#" data-cid="3013" data-target="lw_success_3013" class="clear-cache">
            <i class="fa fa-refresh green" aria-hidden="true"
            title="Clear the cache for this content"></i></a>
        </p>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
