{% extends "base.html" %}
{% load bootstrap4 %}
{% load livewhale_api %}
{% load static %}
{% block navbar-header %}
<a href="{% url 'home' %}" class="mr-sm-3 mr-lg-3">
<img src="{% static 'img/clogo.png' %}" height="30" class="mr-1">
<a class="navbar-brand" href="{{root_url}}">Carthage Clear</a>
{% endblock %}
{% block breadcrumb %}
  {% if messages %}
    {% for message in messages %}
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ml-2">
      <div class=" alert {{message.tags}}">
        <strong>{{ message }}</strong>
      </div>
    </div>
    {% endfor %}
  {% endif %}
{% endblock %}
{% block content %}
<div class="forms-container col-lg-8 col-md-8 col-sm-12 col-xs-12 mb-4" style="padding-right:0px !important;">
  <h3>Greetings {{user.first_name}}</h3>
  <p>
  Today is {% now "F jS, Y H:i" %}
  <br>
  How are you today?
  </p>
  {% if form.errors %}
  <div class="error">
    {% for error in form.non_field_errors %}
    {{error}}
    {% endfor %}
  </div>
  {% endif %}
  <form method="post" action="." autocomplete="false" class="form"
    role="form" id="health-check">
    {% csrf_token %}
    {# bootstrap_form form #}
    {% for field in form.hidden_fields %}
      {% include "form_field.inc.html" %}
    {% endfor %}
    <fieldset>
      <ol style="padding:0 0 0 4px;">
        <li class="list-item col-6 border-top">
          <input type="checkbox" name="tested_positive" id="id_positive">
          <label for="id_positive">
            <img src="{{static_url}}img/tested_positive.png" style="width:42px;">
            <small style="display:block;font-weight:600;">
              I've tested positive for COVID-19
            </small>
          </label>
        </li>

        <li class="list-item col-5 border-top">
          <input type="checkbox" name="tested_negative" id="id_tested_negative">
          <label for="id_tested_negative">
            <img src="{{static_url}}img/tested_negative.png" style="width:42px;">
            <small style="display:block;font-weight:600;">
              I've tested negative for COVID-19
            </small>
          </label>
        </li>
        <li class="list-item col-5 border-top">
          <input type="checkbox" name="tested_pending" id="id_tested_pending">
          <label for="id_tested_pending">
            <img src="{{static_url}}img/tested_pending.png" style="width:42px;">
            <small style="display:block;font-weight:600;">
              No symptoms
            </small>
          </label>
        </li>

        <li class="list-item col-5 border-top">
          <input type="checkbox" name="negative" id="id_negative">
          <label for="id_negative">
            <img src="{{static_url}}img/negative.png" style="width:42px;">
            <small style="display:block;font-weight:600;">
              No symptoms
            </small>
          </label>
        </li>
        <li class="list-item col-6 border-top">
          <input type="checkbox" name="temperature" id="id_temperature">
          <label for="id_temperature">
            <img src="{{static_url}}img/temperature.png" style="width:42px;">
            <small style="display:block;font-weight:600;">
              Temp ≥ 100.4 F/38.0 C or chills
            </small>
          </label>
        </li>
        <li class="list-item col-5 border-top">
          <input type="checkbox" name="cough" id="id_cough">
          <label for="id_cough">
            <img src="{{static_url}}img/cough.png" style="width:42px;">
            <small style="display:block;font-weight:600;">
              New cough
            </small>
          </label>
        </li>
        <li class="list-item col-6 border-top">
          <input type="checkbox" name="short_breath" id="id_short_breath">
          <label for="id_short_breath">
            <img src="{{static_url}}img/short_breath.png" style="width:42px;">
            <small style="display:block;font-weight:600;">
              Shortness of breath
            </small>
          </label>
        </li>
        <li class="list-item col-5 border-top">
          <input type="checkbox" name="loss_taste_smell" id="id_loss_taste_smell">
          <label for="id_loss_taste_smell">
            <img src="{{static_url}}img/loss_taste_smell.png" style="width:42px;">
            <small style="display:block;font-weight:600;">
              New loss of taste or smell
            </small>
          </label>
        </li>
        <li class="list-item col-6 border-top">
          <input type="checkbox" name="sore_throat" id="id_sore_throat">
          <label for="id_sore_throat">
            <img src="{{static_url}}img/sore_throat.png" style="width:42px;">
            <small style="display:block;font-weight:600;">
              Sore throat
            </small>
          </label>
        </li>
        <li class="list-item col-5 border-top">
          <input type="checkbox" name="congestion" id="id_congestion">
          <label for="id_congestion">
            <img src="{{static_url}}img/congestion.png" style="width:42px;">
            <small style="display:block;font-weight:600;">
              Congestion or runny nose
            </small>
          </label>
        </li>
        <li class="list-item col-6 border-top">
          <input type="checkbox" name="fatigue" id="id_fatigue">
          <label for="id_fatigue">
            <img src="{{static_url}}img/fatigue.png" style="width:42px;">
            <small style="display:block;font-weight:600;">
              New unexplained fatigue
            </small>
          </label>
        </li>
        <li class="list-item col-5 border-top">
          <input type="checkbox" name="body_aches" id="id_body_aches">
          <label for="id_body_aches">
            <img src="{{static_url}}img/body_aches.png" style="width:42px;">
            <small style="display:block;font-weight:600;">
              Muscle or Body Ache
            </small>
          </label>
        </li>
        <li class="list-item col-6 border-top">
          <input type="checkbox" name="headache" id="id_headache">
          <label for="id_headache">
            <img src="{{static_url}}img/headache.png" style="width:42px;">
            <small style="display:block;font-weight:600;">
              New headache
            </small>
          </label>
        </li>
        <li class="list-item col-5 border-top">
          <input type="checkbox" name="nausea" id="id_nausea">
          <label for="id_nausea">
            <img src="{{static_url}}img/nausea.png" style="width:42px;">
            <small style="display:block;font-weight:600;">
              Nausea or vomiting
            </small>
          </label>
        </li>
        <li class="list-item col-6 border-top">
          <input type="checkbox" name="diarrhea" id="id_diarrhea">
          <label for="id_diarrhea">
            <img src="{{static_url}}img/diarrhea.png" style="width:42px;">
            <small style="display:block;font-weight:600;">
              Diarrhea
            </small>
          </label>
        </li>
        <li class="list-item col-12 border-top">
          <input type="checkbox" name="quarantine" id="id_quarantine">
          <label for="id_quarantine">
            <img src="{{static_url}}img/quarantine.png" style="width:42px;">
            <small style="display:block;font-weight:600;">
              Staying in my room/home due to symptoms or suspected COVID exposure
            </small>
          </label>
        </li>
      </ol>
    </fieldset>
    <input class="btn btn-primary btn-block" type="submit" value="Submit">
  </form>
  <p>&nbsp;</p>
</div>
<div class="col-lg-4 col-md-4 col-sm-12">&nbsp;</div>
{% endblock content %}
{% block modal %}
<div class="modal fade" id="donation-modal" tabindex="-1" role="dialog"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="donationModalLabel">Donation Form</h4>
          <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true">&times;</button>
        </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
