{% extends "vaccine.html" %}
{% load livewhale_api %}
{% block content %}
<div class="forms-container col-lg-8 col-md-8 col-sm-12 col-xs-12 mb-4" style="padding-right:0px !important;">
  <h3 class="red">Vaccine Verification: Success</h3>
  <p>Thank you for submitting your vaccine status.</p>
  <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-4 ml-2">
    <div class="row list-group">
    </div>
    <!-- /.row -->
  </div>
  <!-- /.col-* -->
  <p>&nbsp;</p>
</div>
<!-- /.forms-container /.col-* -->
{% endblock content %}
{% block modal %}{% endblock %}
