{% extends "base.html" %}
{% load livewhale_api %}
{% load static %}
{% load ifusergroup %}
{% block extra_javascript %}
{{block.super}}
<script src="//www.carthage.edu/static/vendor/jquery/ui/datepicker/js/jquery-ui-1.10.4.custom.min.js"
  type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" language="javascript">

function boosterDateCalc(vaxDate, vaxType) {
  var vaxDate = new Date(vaxDate);
  var today = new Date();
  var booster = 150;

  if (vaxType == 'Johnson & Johnson') {
    booster = 60;
  }
  vaxDate.setDate(vaxDate.getDate() + booster);
  if (today > vaxDate) {
    booster = vaxDate.toDateString();
    $("#boosterDate").html(booster);
    $("label[for=id_booster_date]").html('Booster date: <span style="color:#800;display:block">On or after: ' + booster + '</span>');
    $("#boosterModal").modal("show");
  }
}

$(function(){
  var $vaxDate = $("#id_vaccine_date").val();
  var $vaxType = $("#id_vaccine_type").val();
  var $boosterDate = $("#id_booster_date").val();
  if ($vaxType && $vaxDate && !$boosterDate) {
    boosterDateCalc($vaxDate, $vaxType);
    $('#booster_date_container').slideDown('200');
    $('#booster_proof_container').slideDown('200');
  }
  $("input[id$='_date']").datepicker({
      firstDay:0, appendText: "(format yyyy-mm-dd)",
      changeFirstDay:false, dateFormat: "yy-mm-dd",
      showOn: "both",
      buttonImage: "//www.carthage.edu/themes/shared/img/ico/calendar.gif",
      buttonImageOnly: true
  });
  $("#id_vaccine_type").on("change", function(){
    $dis = $(this);
    $vaxDate = $("#id_vaccine_date").val();
    if ($vaxDate) {
      $vaxDate = boosterDateCalc($vaxDate, $dis.val());
      if ($vaxDate) {
        $('#booster_date_container').slideDown('200');
        $('#booster_proof_container').slideDown('200');
      }
    }
  });
  $("#id_vaccine_date").on("change", function(){
    $dis = $(this);
    $vaxType = $("#id_vaccine_type").val();
    if ( $("#id_vaccine_type").val() ) {
      $vaxDate = boosterDateCalc($dis.val(), $vaxType);
      $('#booster_date_container').slideDown('200');
      $('#booster_proof_container').slideDown('200');
    }
  });
  console.log($("#id_vaccine_date").val());
  console.log($("#id_vaccine_type").val());
  {% if profile.booster_date %}
  $('#booster_date_container').slideDown('200');
  $('#booster_proof_container').slideDown('200');
  {% endif %}
  {% if profile.vaccine == 'Yes' %}
  $('#vaccine_date_container').slideDown('200');
  $('#vaccine_card_front_container').slideDown('200');
  $('#vax_rationale_container').slideUp('200');
  {% else %}{% if profile.vaccine == 'No' %}
  $('#vax_rationale_container').slideDown('200');
  $('#vaccine_date_container').slideUp('200');
  $('#vaccine_card_front_container').slideUp('200');
  {% else %}
  $('#vaccine_date_container').slideUp('200');
  $('#vaccine_card_front_container').slideUp('200');
  $('#vax_rationale_container').slideUp('200');
  {% endif %}{% endif %}
  $("[name=vaccine]").click(function(){
    var $dis = $(this).val();
    if ($dis == 'Yes') {
      $('#vaccine_date_container').slideDown('200');
      $('#vaccine_card_front_container').slideDown('200');
      $('#vax_rationale_container').slideUp('200');
    }
    if ($dis == 'No') {
      $('#vaccine_date_container').slideUp('200');
      $('#vaccine_card_front_container').slideUp('200');
      $('#vax_rationale_container').slideDown('200');
    }
  });
  /* clear django cache object by cache key and refresh content */
  $('.clear-cache').on('click', function(e){
    e.preventDefault();
    var $dis = $(this);
    var $cid = $dis.attr('data-cid');
    var $target = '#' + $dis.attr('data-target');
    var $html = $dis.html();
    $dis.html('<i class="fa fa-refresh fa-spin"></i>');
    $.ajax({
      type: 'POST',
      url: '{% url "clear_cache" "blurbs" %}',
      data: {'cid':$cid},
      success: function(data) {
        $.growlUI("Cache", "Clear");
        $($target).html(data);
        $dis.html('<i class="fa fa-refresh"></i>');
      },
      error: function(data) {
        $.growlUI("Error", data);
      }
    });
    return false;
  });
  // override the submit event to handle some things
  $('form#health-check').submit(function(){
    // disable submit button after users clicks it
    $(this).children('button[type=submit]').attr('disabled', 'disabled');
  });
});
</script>
{% endblock %}
{% block extra_style %}
{{block.super}}
<link href="//www.carthage.edu/static/vendor/jquery/ui/datepicker/css/smoothness/jquery-ui-1.10.4.custom.min.css"
  rel="stylesheet" type="text/css">
<style>
#booster_date_container, #booster_proof_container {display:none;}
</style>
{% endblock %}
{% block navbar-header %}
<a href="{% url 'home' %}" class="mr-sm-3 mr-lg-3">
  <img src="{% static 'img/clogo.png' %}" height="30" class="mr-2"></a>
  #StaySafeCarthage
{% endblock %}
{% block navbar-top-links %}
<ul class="navbar-nav ml-auto">
  <li class="dropdown user-dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-user"></i> {{user.username|default:"Greetings"}}
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li class="divider"></li>
      <li>
        {% if user.is_anonymous %}
        <a href="{% url 'auth_login' %}">
          <i class="fa fa-sign-in"></i> Sign In
        </a>
        {% else %}
        <a href="{% url 'auth_logout' %}">
          <i class="fa fa-sign-out"></i> Sign Out
        </a>
        {% endif %}
      </li>
      <li><a href="{% url 'home' %}">Home</a></li>
      {% ifusergroup 'StaySafeCarthage' %}
      <li><a href="{% url 'dashboard_participation' %}">Participation</a></li>
      {% endifusergroup %}
      {% ifusergroup 'StudentVaxData' %}
      <li><a href="{% url 'vax_dash' %}">Vax data</a></li>
      {% endifusergroup %}
      {% if user.is_superuser %}
      <li><a href="{% url 'vax_dash' %}">Vax data</a></li>
      {% ifusergroup 'Admin' %}
      <li><a href="{% url 'admin:index' %}">Admin</a></li>
      {% endifusergroup %}
      {% endif %}
    </ul>
  </li>
</ul>
{% endblock %}
{% block breadcrumb %}
  {% if messages %}
    {% for message in messages %}
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ml-2">
      <div class=" alert {{message.tags}}">
        <strong>{{ message }}</strong>
      </div>
    </div>
    {% endfor %}
  {% endif %}
{% endblock %}
{% block content %}
<div class="forms-container col-lg-8 col-md-8 col-sm-12 col-xs-12 mb-4" style="padding-right:0px !important;">
  <h3 class="red">Vaccine Verification</h3>
  {% get_lw_content as intro blurbs 3095 %}
  <div class="card card-body">
    <div id="lw_success_3095">{{intro.body|safe}}</div>
    {% if user.is_superuser %}
    <p>
    <a href="https://www.carthage.edu/livewhale/?blurbs_edit&tid=285&id=3095"
      target="_blank">
      <i class="fa fa-pencil green" aria-hidden="true"
      title="Manage the content above in LiveWhale"></i></a>
    <a href="#" data-cid="3095" data-target="lw_success_3095" class="clear-cache">
      <i class="fa fa-refresh green" aria-hidden="true"
      title="Clear the cache for this content"></i></a>
    </p>
    {% endif %}
  </div>
  <form method="post" action="." autocomplete="false" class="form"
    role="form" id="vaccine-verify" enctype="multipart/form-data">
      {% if form.errors %}
        <div class="alert alert-danger mt-4">
          Please correct the errors below.
        </div>
      {% endif %}
    {% csrf_token %}
    <ul class="nobull">
    {% for field in form.visible_fields %}
      {% include "form_field.inc.html" %}
    {% endfor %}
    </ul>
    <button class="btn btn-primary btn-block" type="submit" value="Submit" id="submit-button">Submit</button>
  </form>
  <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-4 ml-2">
    <div class="row list-group">
    </div>
    <!-- /.row -->
  </div>
  <!-- /.col-* -->
  <p>&nbsp;</p>
</div>
<!-- /.forms-container /.col-* -->
{% endblock content %}
{% block modal %}
<!-- Modal -->
<div class="modal fade" id="boosterModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="boosterModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="boosterModalLabel">Booster Date</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You must obtain a booster on or after the date below:</p>
        <h5 id="boosterDate" class="red"></h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
