<div class="table-responsive mb-5">
  <table class="table table-striped table-bordered table-hover display" id="redpandaManagers">
    <thead>
      <tr>
        <th>Name</th>
        <th>Vax</th>
        <th>CID</th>
        <th>PID</th>
        <th>Created At</th>
        <th>Tested +</th>
        <th>Tested -</th>
        <th>Tested pending</th>
        <th>No symptoms</th>
        <th>Temperature</th>
        <th>Cough</th>
        <th>Short breath</th>
        <th>Loss taste/smell</th>
        <th>Sore throat</th>
        <th>Congestion</th>
        <th>Fatigue</th>
        <th>Body aches</th>
        <th>Headache</th>
        <th>Nausea</th>
        <th>Vomiting/Diarrhea</th>
        <th>Quarantine</th>
      </tr>
    </thead>
    <tbody>
    {% for czech in czechs %}
      <tr>
        <td nowrap style="text-align: left;">
          <a href="mailto:{{czech.created_by.email}}">{{czech.created_by.last_name}}, {{czech.created_by.first_name}}</a>
        </td>
        <td nowrap style="text-align: left;">
          {% if czech.created_by.profile.vaccine %}
          <i class="fa fa-check green" title="Vaccine">
            <span style="display:none;">x</span>
          </i>
          {% endif %}
        </td>
        <td nowrap style="text-align: left;">{{czech.created_by.id}}</td>
        <td nowrap style="text-align: left;">{{czech.created_by.profile.uuid|default:''}}</td>
        <td nowrap style="font-family: monospace;font-size:1.1em;">
        {{czech.created_at|date:'Y-m-d H:i:s'}}
        </td>
        <td nowrap>
        {% if czech.tested_positive %}
          <i class="fa fa-check green" title="Tested Positive">
            <span style="display:none;">x</span>
          </i>
        {% endif %}
        </td>
        <td nowrap>
        {% if czech.tested_negative %}
          <i class="fa fa-check green" title="Tested negative">
            <span style="display:none;">x</span>
          </i>
        {% endif %}
        </td>
        <td nowrap>
        {% if czech.tested_pending %}
          <i class="fa fa-check green" title="Tested pending">
            <span style="display:none;">x</span>
          </i>
        {% endif %}
        </td>
        <td nowrap>
        {% if czech.negative %}
          <i class="fa fa-check green" title="No symptoms">
            <span style="display:none;">x</span>
          </i>
        {% endif %}
        </td>
        <td nowrap>
        {% if czech.temperature %}
          <i class="fa fa-check green" title="Temperature">
            <span style="display:none;">x</span>
          </i>
        {% endif %}
        </td>
        <td nowrap>
        {% if czech.cough %}
          <i class="fa fa-check green" title="Cough">
            <span style="display:none;">x</span>
          </i>
        {% endif %}
        </td>
        <td nowrap>
        {% if czech.short_breath %}
          <i class="fa fa-check green" title="Shortness of breath">
            <span style="display:none;">x</span>
          </i>
        {% endif %}
        </td>
        <td nowrap>
        {% if czech.loss_taste_smell %}
          <i class="fa fa-check green" title="Loss of taste or smell">
            <span style="display:none;">x</span>
          </i>
        {% endif %}
        </td>
        <td nowrap>
        {% if czech.sore_throat %}
          <i class="fa fa-check green" title="Sore throat">
            <span style="display:none;">x</span>
          </i>
        {% endif %}
        </td>
        <td nowrap>
        {% if czech.congestion %}
          <i class="fa fa-check green" title="Congestion">
            <span style="display:none;">x</span>
          </i>
        {% endif %}
        </td>
        <td nowrap>
        {% if czech.fatigue %}
          <i class="fa fa-check green" title="Fatigue">
            <span style="display:none;">x</span>
          </i>
        {% endif %}
        </td>
        <td nowrap>
        {% if czech.body_aches %}
          <i class="fa fa-check green" title="Body aches">
            <span style="display:none;">x</span>
          </i>
        {% endif %}
        </td>
        <td nowrap>
        {% if czech.headache %}
          <i class="fa fa-check green" title="Headache">
            <span style="display:none;">x</span>
          </i>
        {% endif %}
        </td>
        <td nowrap>
        {% if czech.nausea %}
          <i class="fa fa-check green" title="Nausea">
            <span style="display:none;">x</span>
          </i>
        {% endif %}
        </td>
        <td nowrap>
        {% if czech.diarrhea %}
          <i class="fa fa-check green" title="Diarrhea">
            <span style="display:none;">x</span>
          </i>
        {% endif %}
        </td>
        <td nowrap>
        {% if czech.quarantine %}
          <i class="fa fa-check green" title="Quarantine">
            <span style="display:none;">x</span>
          </i>
        {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>Name</th>
        <th>Vax</th>
        <th>CID</th>
        <th>PID</th>
        <th>Created At</th>
        <th>Tested +</th>
        <th>Tested -</th>
        <th>Tested pending</th>
        <th>No symptoms</th>
        <th>Temperature</th>
        <th>Cough</th>
        <th>Short breath</th>
        <th>Loss taste/smell</th>
        <th>Sore throat</th>
        <th>Congestion</th>
        <th>Fatigue</th>
        <th>Body aches</th>
        <th>Headache</th>
        <th>Nausea</th>
        <th>Vomiting/Diarrhea</th>
        <th>Quarantine</th>
      </tr>
    </tfoot>
  </table>
</div>
