<div class="table-responsive mb-5">
  <table class="table table-striped table-bordered table-hover display" id="data-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>CID</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Temperature</th>
        <th>Cough</th>
        <th>Short breath</th>
        <th>Loss taste/smell</th>
        <th>Sore throat</th>
        <th>Congestion</th>
        <th>Fatigue</th>
        <th>Body aches</th>
        <th>Headache</th>
        <th>Nausea</th>
        <th>Diarrhea</th>
        <th>Quarantine</th>
        <th>Notification</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
    {% for c in czechs %}
      <tr>
        <td nowrap>
          <a href="mailto:{{c.created_by.email}}"
            title="Email student: {{c.created_by.id}}">
              {{c.created_by.last_name}}, {{c.created_by.first_name}}</a>
        </td>
        <td nowrap>{{c.created_by.id}}</td>
        <td nowrap>
        {% if c.positive %}
          <i class="fa fa-check" title="Positive">
            <span style="display:none;">x</span>
          </i>
        {% else %}
          <i class="fa fa-times red" title="Positive"></i>
        {% endif %}
        </td>
        <td nowrap>
        {% if c.negative %}
          <i class="fa fa-check" title="Negative">
            <span style="display:none;">x</span>
          </i>
        {% else %}
          <i class="fa fa-times red" title="Negative"></i>
        {% endif %}
        </td>
        <td nowrap>
        {% if c.temperature %}
          <i class="fa fa-check" title="Temperature">
            <span style="display:none;">x</span>
          </i>
        {% else %}
          <i class="fa fa-times red" title="Temperature"></i>
        {% endif %}
        </td>
        <td nowrap>
        {% if c.cough %}
          <i class="fa fa-check" title="Cough">
            <span style="display:none;">x</span>
          </i>
        {% else %}
          <i class="fa fa-times red" title="Cough"></i>
        {% endif %}
        </td>
        <td nowrap>
        {% if c.short_breath %}
          <i class="fa fa-check" title="Shortness of breath">
            <span style="display:none;">x</span>
          </i>
        {% else %}
          <i class="fa fa-times red" title="Shortness of breath"></i>
        {% endif %}
        </td>
        <td nowrap>
        {% if c.loss_taste_smell %}
          <i class="fa fa-check" title="Loss of taste or smell">
            <span style="display:none;">x</span>
          </i>
        {% else %}
          <i class="fa fa-times red" title="Loss of taste or smell"></i>
        {% endif %}
        </td>
        <td nowrap>
        {% if c.sore_throat %}
          <i class="fa fa-check" title="Sore throat">
            <span style="display:none;">x</span>
          </i>
        {% else %}
          <i class="fa fa-times red" title="Sore throat"></i>
        {% endif %}
        </td>
        <td nowrap>
        {% if c.congestion %}
          <i class="fa fa-check" title="Congestion">
            <span style="display:none;">x</span>
          </i>
        {% else %}
          <i class="fa fa-times red" title="Congestion"></i>
        {% endif %}
        </td>
        <td nowrap>
        {% if c.fatigue %}
          <i class="fa fa-check" title="Fatigue">
            <span style="display:none;">x</span>
          </i>
        {% else %}
          <i class="fa fa-times red" title="Fatigue"></i>
        {% endif %}
        </td>
        <td nowrap>
        {% if c.body_aches %}
          <i class="fa fa-check" title="Body aches">
            <span style="display:none;">x</span>
          </i>
        {% else %}
          <i class="fa fa-times red" title="Body aches"></i>
        {% endif %}
        </td>
        <td nowrap>
        {% if c.headache %}
          <i class="fa fa-check" title="Headache">
            <span style="display:none;">x</span>
          </i>
        {% else %}
          <i class="fa fa-times red" title="Headache"></i>
        {% endif %}
        </td>
        <td nowrap>
        {% if c.nausea %}
          <i class="fa fa-check" title="Nausea">
            <span style="display:none;">x</span>
          </i>
        {% else %}
          <i class="fa fa-times red" title="Nausea"></i>
        {% endif %}
        </td>
        <td nowrap>
        {% if c.diarrhea %}
          <i class="fa fa-check" title="Diarrhea">
            <span style="display:none;">x</span>
          </i>
        {% else %}
          <i class="fa fa-times red" title="Diarrhea"></i>
        {% endif %}
        </td>
        <td nowrap>
        {% if c.quarantine %}
          <i class="fa fa-check" title="Quarantine">
            <span style="display:none;">x</span>
          </i>
        {% else %}
          <i class="fa fa-times red" title="Quarantine"></i>
        {% endif %}
        </td>
        <td nowrap>
        {% if c.notification %}
          <i class="fa fa-check" title="Notification">
            <span style="display:none;">x</span>
          </i>
        {% else %}
          <i class="fa fa-times red" title="Notification"></i>
        {% endif %}
        </td>
        <td nowrap>{{c.created_at|date:'Y-m-d H:i:s'}}</td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>Name</th>
        <th>CID</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Temperature</th>
        <th>Cough</th>
        <th>Short breath</th>
        <th>Loss taste/smell</th>
        <th>Sore throat</th>
        <th>Congestion</th>
        <th>Fatigue</th>
        <th>Body aches</th>
        <th>Headache</th>
        <th>Nausea</th>
        <th>Diarrhea</th>
        <th>Quarantine</th>
        <th>Notification</th>
        <th>Created At</th>
      </tr>
    </tfoot>
  </table>
</div>
