{% extends "base.html" %}
{% load livewhale_api %}
{% load static %}
{% block extra_style %}
<link href="{% static 'css/circle.css' %}" rel="stylesheet">
<style>
 #app {margin-bottom: 69px;}
 .list-group-item {padding: 0 1.75rem 0 1.25rem;}
 .domain-pids {display:inline-block;width:42px;margin-top:3px;}
 .domain-name {font-size: 2em;}
 body.sidenav-toggled footer.sticky-footer {width: 100%;}
</style>
{% endblock %}
{% block navigation %}{% endblock %}
{% block content-wrapper %}{% endblock %}
{% block content %}
<div id="app" class="row">
  <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="row list-group">
    {% for domain in domains %}
      {% if domain.active %}
        <div class="domain-name list-group-item list-group-item-action">
          <span{% if user.is_superuser %} title="occupied: {{domain.occupied}} | {{domain.capacity}} | {{domain.percent}}"{% endif %}>
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          {{domain.name}}
          </span>
          <div class="c100 small float-right p{% if domain.percent <= 10 %}10{% else %}{{domain.percent}}{% endif %}">
            <span>
            {% if domain.percent <= 10 %}< 10{% else %}{{domain.percent}}{% endif %}%
            </span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        </div>
      {% endif %}
      {% if domain.areas %}
        {% for area in domain.areas %}
          <div class="domain-name list-group-item list-group-item-action">
            {% if domain.active %}
            <span class="ml-2"{% if user.is_superuser %} title="occupied: {{area.occupied}} | {{area.capacity}} | {{area.percent}}"{% endif %}>
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            {% else %}
            <span{% if user.is_superuser %} title="occupied: {{area.occupied}} | {{area.capacity}} | {{area.percent}}%"{% endif %}>
            {% endif %}
            {{area.name}}
            </span>
            <div class="c100 small float-right p{% if domain.percent <= 10 %}10{% else %}{{domain.percent}}{% endif %}">
              <span>
                {% if area.percent <= 10 %}< 10{% else %}{{area.percent}}{% endif %}%
              </span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endfor %}
    </div>
    <!-- /.row -->
  </div>
  <!-- /.col-* -->
  <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-4 ml-2">
    <div class="row list-group">
      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Questions?
        </button>
      </p>
      {% get_lw_content as help blurbs 3003 %}
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <div id="lw_success_3003">{{help.body|safe}}</div>
          {% if user.is_superuser %}
          <p>
            <a href="https://www.carthage.edu/livewhale/?blurbs_edit&tid=285&id=3003"
              target="_blank">
              <i class="fa fa-pencil green" aria-hidden="true"
              title="Manage the content above in LiveWhale"></i></a>
            <a href="#" data-cid="3003" data-target="lw_success_3003" class="clear-cache">
              <i class="fa fa-refresh green" aria-hidden="true"
              title="Clear the cache for this content"></i></a>
          </p>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.col-* -->
</div>
<!-- /#app -->
{% endblock %}
